// reserved keys:
// "q" / ctrl+c: quit
// "r": restart
// bindings {
//     left "left"
//     right "right"
//     cw "x"
//     ccw "z"
//     flip "a"
//     hard "up"
//     soft "down"
//     hold "shift"
// }

bindings {
    left "j"
    right "l"
    soft "k"
    hard "space"
    cw "f"
    ccw "d"
    flip "s"
    hold "a"
}

// all values are specified in frames, fractions are allowed
config {
    das 6
    arr 0
    gravity 60
    soft_drop 1
    ghost #true
    // these mirror the 3 jstris lock delays
    lock 30
    extended 300
    timeout 1200
}

// these settings are closer to a standard guideline tetris game:
// config {das 10; arr 2; gravity 60; soft_drop 4; ghost true; lock_delay 30 300 1200;}

// TODO: implement line clear delay and ARE
// TODO: add tetris 99 example config (12f das, 2f arr, 6f are)
// TODO: add puyo-puyo tetris example config (9f das, 2f arr, variable are/line delay)

sound {
    volume 0.3
    ready "assets/sounds/ready.ogg"
    go "assets/sounds/go.ogg"
    move "assets/sounds/move.ogg"
    rotate #null
    lock "assets/sounds/lock.ogg"
    line "assets/sounds/line.ogg"
    hold #null
    lose "assets/sounds/topout.ogg"
    win #null
}
